#workflow:
#  rules:
#  - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

include:
- template: Security/Dependency-Scanning.gitlab-ci.yml

stages:
- generate
- release
- test

generate:
  stage: generate
  image: debian:stable
  before_script:
  - echo $CI_JOB_ID
  - echo GE_JOB_ID=$CI_JOB_ID >> generate.env
  - apt-get -y update
  - apt-get -y install emacs-nox texlive-latex-base texlive-latex-extra texlive-latex-recommended texlive-font-utils git rsync inkscape
  script:
  - |
    mkdir output
    inkscape geometry-lost.svg -o output/geometry-lost.png
    inkscape geometric-man.svg -o output/geometric-man.png
    inkscape geometry-failed.svg -o output/geometry-failed.png
    export TEXMFOUTPUT=output
    export OUTPUT_DIR=$PWD/output
    export DATA_DIR=.
    export REPORT_SOURCE_FILE=fanzine.org
    emacs --batch --load org2pdf.el
    mkdir release
    mv output/org-pdf-latex-output.txt release/
    mv output/fanzine.pdf release/fanzine.pdf
    echo "generation successful"
  artifacts:
    paths:
    - release/fanzine.pdf
    reports:
      dotenv: generate.env
  only:
  - main

release:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  script:
  - echo 'running release_job'
  - echo 'Previous Job ID is printed below'
  - echo $GE_JOB_ID
  needs:
  - job: generate
    artifacts: true
  release:
    name: Release $CI_COMMIT_SHORT_SHA
    description: Created using the release-cli
    tag_name: "$CI_COMMIT_SHORT_SHA"
    assets:
      links:
      - name: Geometry Lost Fanzine
        url: https://gitlab.com/sgc1000/geometry-lost-fanzine/-/jobs/${GE_JOB_ID}/artifacts/browse/release/
  only:
  - main
